---
import { Icon } from 'astro-icon/components';
import Counter from './Counter';
---

<footer>
	<div>
		<small>
			Copyright &copy;<span id="copyright"></span><span> | All rights reserved</span>
		</small>
		<small>
			<Counter client:load />
			<a href="/rss.xml">
				Subscribe to RSS
				<Icon name="tabler:rss" width="20" height="20" />
			</a>
		</small>
	</div>
</footer>

<script>
	document.querySelector('#copyright')!.innerHTML = new Date().getFullYear().toString();
</script>
