---

---

<footer>
	<small>
		Copyright &copy;<span id="copyright"></span><span> | All rights reserved</span>
	</small>
</footer>

<script>
	document.querySelector('#copyright')!.innerHTML = new Date().getFullYear().toString();
</script>
