---
// Component import
import MainHead from '../components/MainHead.astro';
const { title, description } = Astro.props;

const isRed = true;
---

<!doctype html>
<html lang="en">
	<MainHead {title} {description} />
	<body>
		<slot />
		<p class:list={[1, 2, { red: isRed }, 4]}>This is red</p>
	</body>
</html>

<style lang="scss" is:global>
	p {
		font-size: 10rem;
	}
	.red {
		color: red;
	}
</style>
