---
// Component import
import MainHead from '../components/MainHead.astro';
import '../styles/font.css';
import '../styles/global.css';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<MainHead {title} {description} />
	<body>
		<slot />
	</body>
</html>
